numpy
pandas
matplotlib
seaborn
yfinance
pyomo
idaes-pse
sys
os
if 'google.colab' in sys.modules:
    !pip install idaes-pse --pre
    !idaes get-extensions --to ./bin
    os.environ['PATH'] += ':bin'
